<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Event - Communi</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Host a Community Event</h1>
    <form method="POST">
        <input type="text" name="title" placeholder="Event Title (e.g., Park Cleanup)" required><br><br>
        <textarea name="description" placeholder="What will volunteers be doing? and also thier qualification." required></textarea><br><br>
        <input type="text" name="location" placeholder="City or exact address" required><br><br>
        <button type="submit">Publish Event</button>
    </form>
    <br>
    <a href="/dashboard">Cancel and return to Dashboard</a>
</body>
</html>
