
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Communi</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
</head>
<body>
    <h1>Welcome to Communi</h1>
    <p>The smart volunteer platform connecting students with community needs.</p>
    <a href="/login">Login to Start</a> | <a href="/explore">Explore Events</a>
</body>
</html>







<!-- <!DOCTYPE html>

<html>
<head>
    <title>Communi </title><link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Welcome to Communi</h1>
    <p>The smart volunteer platform connecting students with community needs.</p>
    <a href="/login">Login to Start</a> | <a href="/explore">Explore Events</a>
</body>
</html> -->